<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Copy of Microsoft Native Recommended Rules" Description="These rules focus on the most critical and common problems in your native code, including potential security holes and application crashes.  You should include this rule set in any custom rule set you create for your native projects.  This ruleset is designed to work with Visual Studio Professional edition and higher." ToolsVersion="17.0">
  <Include Path="nativeminimumrules.ruleset" Action="Default" />
  <Rules AnalyzerId="Microsoft.Analyzers.NativeCodeAnalysis" RuleNamespace="Microsoft.Rules.Native">
    <Rule Id="C26441" Action="None" />
    <Rule Id="C26444" Action="None" />
    <Rule Id="C26449" Action="None" />
    <Rule Id="C26450" Action="None" />
    <Rule Id="C26452" Action="None" />
    <Rule Id="C26453" Action="None" />
    <Rule Id="C26454" Action="None" />
    <Rule Id="C26495" Action="None" />
    <Rule Id="C26810" Action="None" />
    <Rule Id="C26811" Action="None" />
    <Rule Id="C26815" Action="None" />
    <Rule Id="C26816" Action="None" />
    <Rule Id="C26819" Action="None" />
    <Rule Id="C26859" Action="None" />
    <Rule Id="C28021" Action="None" />
    <Rule Id="C28182" Action="None" />
    <Rule Id="C28202" Action="None" />
    <Rule Id="C28203" Action="None" />
    <Rule Id="C28205" Action="None" />
    <Rule Id="C28206" Action="None" />
    <Rule Id="C28207" Action="None" />
    <Rule Id="C28210" Action="None" />
    <Rule Id="C28211" Action="None" />
    <Rule Id="C28212" Action="None" />
    <Rule Id="C28213" Action="None" />
    <Rule Id="C28214" Action="None" />
    <Rule Id="C28215" Action="None" />
    <Rule Id="C28216" Action="None" />
    <Rule Id="C28217" Action="None" />
    <Rule Id="C28218" Action="None" />
    <Rule Id="C28219" Action="None" />
    <Rule Id="C28220" Action="None" />
    <Rule Id="C28221" Action="None" />
    <Rule Id="C28222" Action="None" />
    <Rule Id="C28223" Action="None" />
    <Rule Id="C28224" Action="None" />
    <Rule Id="C28225" Action="None" />
    <Rule Id="C28226" Action="None" />
    <Rule Id="C28227" Action="None" />
    <Rule Id="C28228" Action="None" />
    <Rule Id="C28229" Action="None" />
    <Rule Id="C28230" Action="None" />
    <Rule Id="C28231" Action="None" />
    <Rule Id="C28232" Action="None" />
    <Rule Id="C28233" Action="None" />
    <Rule Id="C28234" Action="None" />
    <Rule Id="C28235" Action="None" />
    <Rule Id="C28236" Action="None" />
    <Rule Id="C28237" Action="None" />
    <Rule Id="C28238" Action="None" />
    <Rule Id="C28239" Action="None" />
    <Rule Id="C28240" Action="None" />
    <Rule Id="C28241" Action="None" />
    <Rule Id="C28243" Action="None" />
    <Rule Id="C28245" Action="None" />
    <Rule Id="C28246" Action="None" />
    <Rule Id="C28250" Action="None" />
    <Rule Id="C28251" Action="None" />
    <Rule Id="C28252" Action="None" />
    <Rule Id="C28253" Action="None" />
    <Rule Id="C28254" Action="None" />
    <Rule Id="C28262" Action="None" />
    <Rule Id="C28263" Action="None" />
    <Rule Id="C28267" Action="None" />
    <Rule Id="C28272" Action="None" />
    <Rule Id="C28273" Action="None" />
    <Rule Id="C28275" Action="None" />
    <Rule Id="C28279" Action="None" />
    <Rule Id="C28280" Action="None" />
    <Rule Id="C28282" Action="None" />
    <Rule Id="C28285" Action="None" />
    <Rule Id="C28286" Action="None" />
    <Rule Id="C28287" Action="None" />
    <Rule Id="C28288" Action="None" />
    <Rule Id="C28289" Action="None" />
    <Rule Id="C28290" Action="None" />
    <Rule Id="C28291" Action="None" />
    <Rule Id="C28300" Action="None" />
    <Rule Id="C28301" Action="None" />
    <Rule Id="C28302" Action="None" />
    <Rule Id="C28303" Action="None" />
    <Rule Id="C28304" Action="None" />
    <Rule Id="C28305" Action="None" />
    <Rule Id="C28308" Action="None" />
    <Rule Id="C28309" Action="None" />
    <Rule Id="C28350" Action="None" />
    <Rule Id="C28351" Action="None" />
    <Rule Id="C33001" Action="None" />
    <Rule Id="C33010" Action="None" />
    <Rule Id="C33020" Action="None" />
    <Rule Id="C6001" Action="None" />
    <Rule Id="C6011" Action="None" />
    <Rule Id="C6029" Action="None" />
    <Rule Id="C6053" Action="None" />
    <Rule Id="C6059" Action="None" />
    <Rule Id="C6063" Action="None" />
    <Rule Id="C6064" Action="None" />
    <Rule Id="C6066" Action="None" />
    <Rule Id="C6067" Action="None" />
    <Rule Id="C6101" Action="None" />
    <Rule Id="C6200" Action="None" />
    <Rule Id="C6201" Action="None" />
    <Rule Id="C6270" Action="None" />
    <Rule Id="C6271" Action="None" />
    <Rule Id="C6272" Action="None" />
    <Rule Id="C6273" Action="None" />
    <Rule Id="C6274" Action="None" />
    <Rule Id="C6276" Action="None" />
    <Rule Id="C6277" Action="None" />
    <Rule Id="C6284" Action="None" />
    <Rule Id="C6290" Action="None" />
    <Rule Id="C6291" Action="None" />
    <Rule Id="C6302" Action="None" />
    <Rule Id="C6303" Action="None" />
    <Rule Id="C6305" Action="None" />
    <Rule Id="C6306" Action="None" />
    <Rule Id="C6328" Action="None" />
    <Rule Id="C6385" Action="None" />
    <Rule Id="C6386" Action="None" />
    <Rule Id="C6387" Action="None" />
    <Rule Id="C6500" Action="None" />
    <Rule Id="C6501" Action="None" />
    <Rule Id="C6503" Action="None" />
    <Rule Id="C6504" Action="None" />
    <Rule Id="C6505" Action="None" />
    <Rule Id="C6506" Action="None" />
    <Rule Id="C6508" Action="None" />
    <Rule Id="C6509" Action="None" />
    <Rule Id="C6510" Action="None" />
    <Rule Id="C6511" Action="None" />
    <Rule Id="C6513" Action="None" />
    <Rule Id="C6514" Action="None" />
    <Rule Id="C6515" Action="None" />
    <Rule Id="C6516" Action="None" />
    <Rule Id="C6517" Action="None" />
    <Rule Id="C6518" Action="None" />
    <Rule Id="C6522" Action="None" />
    <Rule Id="C6525" Action="None" />
    <Rule Id="C6527" Action="None" />
    <Rule Id="C6530" Action="None" />
    <Rule Id="C6540" Action="None" />
    <Rule Id="C6551" Action="None" />
    <Rule Id="C6552" Action="None" />
    <Rule Id="C6701" Action="None" />
    <Rule Id="C6702" Action="None" />
    <Rule Id="C6703" Action="None" />
    <Rule Id="C6704" Action="None" />
    <Rule Id="C6705" Action="None" />
    <Rule Id="C6706" Action="None" />
  </Rules>
</RuleSet>